body {
  font-family: 'Jua', 'Anton', sans-serif;
  background-color: black;
  padding: 3vw;
  font-size: 2.5em;
}

@media only screen and (max-width: 900px){
  body {
    font-size: 1.5em;
  }
}

.wrapper {
  background-color: aliceblue;
  width: 40vw;
  height: 45vw;
  margin: auto;
}

.inner {
}

.info {
  display: flex;
  padding-left: 2vw;
  padding-right: 2vw;
}

.level {
  background-color: red;
  width : 18vw;
  height : 5vw;
}

.sec {
  background-color: blue;
  width : 18vw;
  height : 5vw;
  text-align: right;
}

.gameboard {
  background-color: yellowgreen;
  width: 40vw;
  height: 40vw;
}